.swiper-pagination-bullet {
    width: 15px;
    height: 4px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.swiper-pagination-bullet::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.swiper-pagination-bullet-active {
    background: rgba(133, 133, 133, 0.4);
    width: 40px;
}

.swiper-pagination-bullet-active::before {
    background-color: rgb(0, 0, 0);
    -webkit-animation: slide-progress 2s cubic-bezier(0.3, 0, 0.3, 1) forwards;
    animation: slide-progress 2s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

.swiper-paused .swiper-pagination-bullet-active::before {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes slide-progress {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-progress {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}